/* テキストカラー */

/* ヘッダー文字*/
$header-font-color:#444444;

/* 英字タイトル、サービステキスト、ブログテキスト */
$main-font-color:#A4ABB0;

/* サービスサブタイトル */
$service-subtit-color:#212138;

/* ブログタイトル */
$blog-subtit-color:#5B5C5C;

/* ブログ画像左上インデックス */
$blog-index-color:#343434;

/* ニューステキスト */
$news-font-color:#1C1C1C;

/* まずはメールでお気軽に */
$accent-font-color:#252525;




/* 背景カラー */

/* ヘッダー背景*/
$header-bg-color:#FAFAFA;

/* サービスタイトルテキスト背景*/
$service-bg-color:#2C334B;

/* 詳しく見るボタン背景、フッター背景 */
$service-bg-color:#202037;