@font-face {
    
}




/*フォント*/


h1{
    font-family:  "Avenir Next";
    
}

h2{
    font-family:游ゴシック体, YuGothic,  游ゴシック, 'Yu Gothic';
      
}

h3{
    font-family:  "Avenir Next";
    font-weight:600;
}

h4{
    font-family:  "Avenir Next";
    font-weight:700;
    
}

h5{
    
}

p{
    font-family:游ゴシック体, YuGothic,  游ゴシック, 'Yu Gothic';
    font-weight: normal;
}

/*テキストスタイル*/
